@font-face {
    font-family: 'Pretendard-Medium';
    src: url('/static/font/Pretendard/Pretendard-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/static/font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('/static/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/static/font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tium';
    src: url('/static/font/Tium/TMONTium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* 기본 글꼴*/
body {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #111111;
}

.mo_wrap {
    height: 100%;
}

.mo_wrap .wrap {
    max-width: 375px;
    margin: 0 auto;
    min-height: 100%;
}
.mo_wrap .main_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: url('/static/images/main_bg_mo.png') no-repeat top center / contain;
    z-index: -2;
}

.mo_wrap .popup_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(0deg, #ffffff, #ffffff);

    z-index: -2;
}

/* HEADER */
header ul {
    height: 22px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
}
header .left_arrow {
    position: relative;
    left: 20px;
    top: calc(50% - 22px / 2);
}
header .header_title {
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-left: 50px;
}

/* SUB */
.mo_wrap .sub_wrap {
    position: relative;
    height: 850px;
}

.mo_wrap .sub_wrap .content_wrap {
    padding: 20px;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap {
    position: relative;
    top: 200px;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap .success_text p {
    margin-top: 25px;
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #ff0267;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap .success_text em {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.member_grade {
    text-align: center;
    font-size: 20px !important;
    line-height: 28px !important;
}

.mo_wrap .sub_wrap .content_wrap .content_title h2 {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.mo_wrap .sub_wrap .content_wrap .content_title span {
    color: #ff0267;
}
.mo_wrap .sub_wrap .content_wrap .content_title p {
    font-size: 16px;
    line-height: 24px;

    color: #555555;
}
.mo_wrap .sub_wrap .content_wrap .content_body {
    margin: 35px 0px;
    text-align: center;
}

/* tab area*/
.tab_wrap {
    height: 50px;
}
.tab_wrap ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.tab_wrap ul li.on {
    color: #ff0267;
    border-bottom: 2px solid #ff0267;
}
.tab_wrap ul li {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    color: #999999;
    border-bottom: 1px solid #999999;
    width: 50%;
    padding: 15px 0px;
    text-align: center;
}

/* message */

.chat_list_wrap {
    margin: 10px 0 20px 0;
}
.chat_list_wrap .chat_room_title {
    padding-top: 7px;
    display: flex;
}
.chat_list_wrap .chat_room_title .receive_profile img {
    width: 50px;
    height: 50px;
}
.chat_list_wrap .chat_room_title .receive_text {
    min-width: 270px;
    margin: 0 0 0px 15px;
}
.chat_list_wrap .chat_room_title .receive_text .receive_profile_name {
    margin: 0 0 8px;
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
.chat_list_wrap .chat_room_title .receive_text .receive_profile_name .match_percent {
    margin: 0 0 0px 10px;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    line-height: 17px;
}
.match_percent {
    color: #ff0267;
}
.match_percent.btw8090 {
    color: #319d56;
}
.match_percent.btw7080 {
    color: #faa037;
}
.chat_list_wrap .chat_room_title .receive_time {
    display: flex;
    flex-direction: row-reverse;
    width: 30px;
    position: relative;
    right: 33px;
    top: -7px;
}
.chat_list_wrap .chat_room_title .receive_time p {
    font-size: 12px;
    line-height: 14px;
    text-align: right;

    color: #999999;
}
.chat_list_wrap .chat_room_title .receive_text .receive_msg_area p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0;
    font-size: 14px;
    line-height: 17px;
}

.message_input_box {
    position: absolute;
    bottom: 0px;
    padding: 10px 20px;
}
.message_input_box.message_input_box_on {
    height: 300px;
}
.message_input_box .chat_input_box {
    display: flex;
}
.message_input_box .chat_menu_open {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin: 12px 0 0 3px;
}
.message_input_box .chat_menu_open .chat_menu_func {
    width: 54px;
    height: 54px;
    margin: 20px 28px;
    text-align: center;
}
.message_input_box .chat_menu_open .chat_menu_func p {
    margin: 6px 0px;
    font-weight: 200;
    font-size: 13px;
    line-height: 16px;

    color: #333333;
}
.message_input_box .chat_menu_open img {
    width: 54px;
    height: 54px;
}

.message_input_box .chat_input_box .message_input_box_border {
    width: 275px;
}
.message_input_box .message_input_box_border {
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 16px 12px;
    width: 301px;
}
.message_input_box .chat_input_box textarea {
    width: 245px;
}
.message_input_box textarea {
    width: 273px;
    height: 26px;
    background: #f9f9f9;
    border: none;
    resize: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
    overflow: -moz-scrollbars-none; /* Firefox */

    font-family: 'Pretendard-Medium';
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    font-size: 15px;
    color: #999999;
}
.message_input_box textarea::placeholder {
    font-family: 'Pretendard-Medium';
    font-size: 15px;
    line-height: 18px;
    font-size: 15px;
    color: #999999;
}

.chat_wrap {
    padding: 20px 0 0 0;
}

.receive_msg {
    display: flex;
    margin-bottom: 20px;
}
.receive_msg .receive_text {
    margin: 0 0 0px 10px;
}
.receive_msg .receive_text .match_percent {
    margin: 0 0 0px 10px;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    line-height: 14px;
}
.receive_msg .receive_text .receive_profile_name {
    margin: 0 0 8px;
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.receive_msg .receive_text .receive_msg_area {
    padding: 15px;
    background: #ffecf0;
    border-radius: 0px 15px 15px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
.receive_msg .receive_text .receive_msg_area p {
    margin: 0;
}
.receive_msg .receive_time {
    display: inline-grid;
    align-items: end;
}
.receive_msg .receive_time p {
    margin: 0 0 0 6px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;

    color: #999999;
}
.recieve_profile {
    display: flex;
    margin-bottom: 10px;
}
.recieve_profile .content_mypage_info {
    padding: 7px 10px;
    display: flex;
    flex-direction: column;
}
.recieve_profile .content_mypage_info h2 {
    font-family: 'Pretendard-Bold';
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    margin: 0;
}
.recieve_profile .content_mypage_info p {
    font-size: 14px;
    line-height: 17px;

    color: #777777;
}
.recieve_profile .content_mypage_info .match_percent {
    padding: 3px 0px;
    height: 22px;
    background-color: transparent;
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    margin-left: 5px;
    border: none;
}

/* group detail*/
.group_deatil_img img {
    width: 335px;
    height: 248px;
}
.group_detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.group_detail_header p {
    font-size: 13px;
    line-height: 16px;
}
.group_detail_header p span {
    color: #ff0267;
    font-weight: 700;
}
.group_detail_title h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 10 0 10 0;
}
.group_detail_schedule {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.group_detail_period {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
}
.group_detail_type {
    padding: 2px 6px;
    width: 44px;
    height: 16px;
    background: #ff0267;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    color: #ffffff;
}
.group_detail_cont p {
    font-size: 14px;
    line-height: 20px;
}
.group_detail_location {
    width: 335px;
    height: 90px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 30px 0 0 0;
    display: flex;
}
.group_detail_location .group_location {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
}
.group_detail_location img {
    width: 70px;
    height: 70px;
    border-radius: 3px;
    margin: 10px 0 10px 10px;
}
.group_location img {
    width: 12px;
    height: 12px;
    margin: 0;
}
.group_location_schedule {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #555555;
    margin: 5px 0;
}
.group_location_fee {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #ff0267;
    margin: 0;
}
.group_detail_map {
    margin-top: 30px;
}
.group_detail_map h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.group_detail_map img {
    width: 335px;
    height: 208px;
}

/* group list*/
.group_search_list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.group_list_item {
    width: 162px;
    margin-bottom: 30px;
}
.group_search_list .group_list_item .group_price {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #777777;
    margin: 4px 0 0 0;
}
.group_search_list .group_list_item .group_schedule {
    font-size: 12px;
    line-height: 14px;
    color: #777777;
    margin: 4px 0 0 0;
}
.group_search_list .group_list_item img {
    width: 162px;
    height: 162px;
    border-radius: 10px;
}
.group_search_list .group_list_item .group_location {
    margin-top: 8px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
.group_search_list .group_list_item .group_location img {
    width: 16px;
    height: 16px;
}
.group_particpnt {
    margin-top: 6px;
    padding: 2px 4px;
    text-align: center;
    width: 54px;
    height: 14px;
    border: 1px solid #fadee6;
    border-radius: 4px;
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
}
.group_particpnt span {
    color: #ff0267;
}
.group_search_filter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.group_search_filter select {
    font-family: 'Pretendard-Regular';
    width: 60px;
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    border: none;
    margin-top: 10px;
}
.group_create .btn.type01 {
    padding: 10px 15px 10px 25px;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.group_create img {
    position: relative;
    left: 25px;
}
.group_search input {
    width: 335px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #959595;
    padding: 11px 15px;
}
.group_search img {
    position: absolute;
    top: 30px;
    right: 30px;
}
.group_category {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.group_category div {
}
.group_category img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.group_category p {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

/* wallet*/
.amount_pay {
    display: flex;
    justify-content: space-between;
}
.pay_agree_desc {
    height: 150px;
    padding: 0 20px;
}
.pay_agree_desc p {
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #555555;
    text-indent: -10px;
    padding-left: 10px;
    width: 250px;
}
.amount_pay .amount_pay_left h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    margin: 0;
    margin: 30px 0 0 0;
}
.amount_pay .amount_pay_right p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    margin: 0;
}
.amount_pay .amount_pay_right h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #ff0267;
    margin: 10px 0 0 0;
}
.content_wrap .mypage_wallet.charge .mypage_wallet_point {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.content_wrap .mypage_wallet.charge .mypage_wallet_point h2 {
    margin: 0;
}
.content_wrap .mypage_wallet.charge .mypage_wallet_point p {
    margin: 5px 0;
}
.content_wrap .mypage_wallet.charge .charge_select1 {
    width: 331px;
    height: 60px;
    background: rgba(255, 2, 103, 0.05);
    border: 2px solid #ff0267;
    border-radius: 10px;
    text-align: center;
}
.content_wrap .mypage_wallet.charge .charge_select1 p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ff0267;
    margin: 20 0px;
}
.content_wrap .mypage_wallet.charge .charge_select2 {
    width: 331px;
    height: 60px;
    border: 2px solid #dddddd;
    background: '#ffffff';
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}
.content_wrap .mypage_wallet.charge .charge_select2 p {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    margin: 20 0px;
}
.content_wrap .mypage_wallet .mypage_wallet_point p {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #555555;
}
.content_wrap .mypage_wallet .mypage_wallet_select p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.content_wrap .mypage_wallet .mypage_wallet_point h2 {
    font-family: 'Pretendard-Bold';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.content_wrap .mypage_wallet .mypage_wallet_charge {
    text-align: center;
    height: 46px;
    margin: 0 auto;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_filter {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    align-items: baseline;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_filter select {
    font-family: 'Pretendard-Regular';
    width: 60px;
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    border: none;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_filter button {
    width: 53px;
    height: 26px;
    background: #ffffff;
    font-weight: 200;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_filter button.on {
    background: #ff0267;
    border: none;
    color: #ffffff;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_detail {
    display: flex;
    justify-content: space-between;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_detail .date p {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #777777;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_detail .desc {
    width: 210px;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_detail .desc p {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin: 12px 0 0 20px;
}
.content_wrap .mypage_wallet .mypage_wallet_list .mypage_wallet_detail .price p {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ff0267;
}

.receive_match_msg {
    font-size: 13px;
    line-height: 18px;

    color: #000000;
}
.receive_profile_view {
    margin-top: 15px;
    width: 230px;
    height: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border: none;
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    line-height: 16px;

    color: #333333;
}

.send_msg {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.send_msg .send_text {
    display: flex;
    margin: 0 0 0px 10px;
}
.send_msg .send_text .send_msg_area {
    padding: 15px;
    background: #f8f8f8;
    border-radius: 15px 15px 0px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
.send_msg .send_text .send_msg_area p {
    margin: 0;
}
.send_msg .send_text .receive_time {
    display: inline-grid;
    align-items: end;
}
.send_msg .send_text .receive_time p {
    margin: 0 6 0 0px;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;

    color: #999999;
}

/* mapage */
.content_mypage_logout {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #777777;
    position: absolute;
    bottom: 20px;
    left: 160px;
    background: transparent;
    border: none;
}

.mo_wrap .sub_wrap .content_wrap .content_body.content_mypage {
    margin: 35px 0px;
    text-align: left;
    display: flex;
}
.content_mypage_list .hoz_part {
    margin: 0;
}
.content_mypage_list ul {
    background: #ffffff;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
.content_mypage_list li {
    height: 20px;
    padding: 20 20 20 15;
    font-weight: 600;
    font-size: 16px;
    display: flex;
}
.content_mypage_list li p {
    margin: 0 0 0 10px;
}

.myinfo_level {
    padding: 3px 8px;
    width: 46px;
    height: 22px;
    border: 1px solid #ff0267;
    border-radius: 3px;
    background-color: transparent;
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #ff0267;
    margin-left: 10px;
}
.profile {
    display: flex;
}
.line_banner {
    width: 307px;
    height: 17px;
    background: #ff0267;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    justify-content: space-between;
}
.line_banner a {
    display: flex;
    text-decoration: none;
}
.line_banner p {
    margin: 0 0 0 10px;
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;

    color: #ffffff;
}
.mo_wrap .sub_wrap .content_wrap .content_body.content_mypage .content_mypage_info {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
}
.mo_wrap .sub_wrap .content_wrap .content_body.content_mypage .content_mypage_info h2 {
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
    margin: 0;
}
.mo_wrap .sub_wrap .content_wrap .content_body.content_mypage .content_mypage_info p {
    font-size: 14px;
    line-height: 17px;

    color: #777777;
    margin: 6px 0 0 0;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box {
    width: 335px;
    border: 2px solid #eeeeee;
    border-radius: 15px;
    margin-bottom: 10px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title {
    padding: 19px 12px 0px 12px;
    min-height: 41px;
    text-align: left;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title .grade_box_price {
    padding: 10 0px 10px 30px;
    height: 20px;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title .grade_box_price img {
    width: 65px;
    height: 18px;
    position: absolute;
    left: 60px;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title .grade_box_price .price_box {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: baseline;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title .grade_box_price .org_price {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: #aaaaaa;
    margin: 0;
    text-decoration: line-through;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title .grade_box_price .tot_price {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #ff0267;
    margin: 0;
    margin-left: 15px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title span {
    float: right;
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title h2 {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: hsl(0, 0%, 7%);
    margin: 0;
    margin-top: -1px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont {
    border-top: 1px solid #eeeeee;
    padding: 10px 12px 20px 12px;
    min-height: 66px;
    text-align: left;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont p {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    color: #555555;
    margin: 0 30px 10px 30px;
    text-align: left;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont span {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;

    color: #999999;
    margin: 0 30px;
    text-align: left;
}
.main_logo {
    position: absolute;
    width: 148px;
    height: 46px;
    left: calc(50% - 148px / 2 + 0.5px);
    top: 241px;

    font-family: 'Tium';
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-align: center;

    color: #ff0267;
}

.main_login_form {
    position: absolute;
    top: 365px;
    left: calc(50% - 302px / 2 + 0.5px);
}
.main_signin_form {
    /* position: absolute;
  top: 256px; */
}
.signin_label {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 10px;
}

.form_row.signin_form {
    padding: 20px 0px;
}
.form_row.signin_form .signin_form_div {
    display: flex;
    flex-direction: column;
    width: 335px;
    margin: 0 auto;
}

.form_row.signin_form .signin_form_div .multy_select {
    display: flex;
}

.form_row.signin_form .signin_form_div .multy_select select {
    width: 163px;
    margin-right: 9px;
}
.form_row.signin_form .signin_form_div .multy_select_three select {
    width: 107px;
}

.form_row input {
    width: 335px;
    height: 50px;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}
.form_row.signin_form .signin_form_div.input_btn input {
    width: 250px;
    height: 50px;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}
.form_row.signin_form .signin_form_div.input_btn select {
    width: 250px;
    height: 50px;
}
.input_btn {
    display: flex;
    justify-content: space-between;
}
.btn_input_form {
    width: 80px;
    height: 50px;
    background: #555555;
    border-radius: 10px;
    color: #fff;
}

.form_row.signin_form input {
    border: 1px solid #dddddd;
}
.form_row.signin_form select {
    border: 1px solid #dddddd;
}
.profile_photo_div {
    display: flex;
}
.layerPopup_content .profile_photo_div {
    margin: 0 auto;
}
.profile_photo_label {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 10px;
}
.profile_photo_desc {
    font-size: 14px;
    line-height: 17px;

    color: #555555;
    margin: 0 0 10px;
}
.form_row.signin_form .profile_photo_input {
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: url('/static/images/input_img_plus.png') no-repeat center;
}
.form_row.signin_form .profile_photo_posted {
    margin-left: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.layerPopup_content .form_row.signin_form .profile_photo_input {
    width: 90px;
    height: 90px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: url('/static/images/input_img_plus.png') no-repeat center;
}
.layerPopup_content .form_row.signin_form .profile_photo_posted {
    margin-left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
form input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* chk_box */
.mo_wrap .chk_box {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 17px 0px;
}
.mo_wrap .chk_box.radio_box {
    margin: 0px 0px;
}

.mo_wrap .chk_box label {
    display: block;
    padding: 1px 0 1px 30px;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
}

.mo_wrap .chk_box label.totAgree_label {
    font-family: 'Pretendard-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #111111;
}
.mo_wrap .chk_box label.agree_cont_label {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #111111;
}
.mo_wrap .chk_box label.agree_cont_label span {
    color: #ff0267;
}

.agree_cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.form_row select {
    width: 335px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}
.agree_cont textarea {
    width: 335px;
    height: 110px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 12px;
    line-height: 14px;

    color: #777777;
    padding: 15px;
}

.mo_wrap .chk_box input[type='radio'],
.mo_wrap .chk_box input[type='checkbox'] {
    border: none;
    border-radius: 50%;
}

.mo_wrap .chk_box label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 2;
    border-radius: 50%;
    box-sizing: border-box;
}

.mo_wrap .chk_box.radio_box label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    z-index: 2;
    border-radius: 50%;
    box-sizing: border-box;
}

.mo_wrap .chk_box input[type='checkbox'] + label:before {
    background: url(/static/images/ico_chk_gray_20x20.png) no-repeat center / 20px;
}

.mo_wrap .chk_box input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
}

.mo_wrap .chk_box input:checked + label::before,
.mo_wrap .chk_box input:checked ~ label::before {
    height: 20px;
    background: url(/static/images/ico_chk_20x20.png) no-repeat center / 20px;
    border: 0 none;
}

.mo_wrap .chk_box input[type='radio'] + label:before {
    background: url(/static/images/ico_chk_gray_22x22.png) no-repeat center / 22px;
}

.mo_wrap .chk_box input[type='radio']:checked + label::before,
.mo_wrap .chk_box input[type='radio']:checked ~ label::before {
    background: url(/static/images/ico_chk_22x22.png) no-repeat center / 22px;
}

.btn_group {
    text-align: center;
    /* padding: 10px; */
}
.btn_group.multy {
    display: contents;
}
.btn_group.multy .btn {
    width: 163px;
    height: 50px;
}
.btn_group.multy.ai_date_check .btn {
    width: 90px;
    height: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
    margin-right: 17px;
}
.btn.type00 {
    color: #fff;
    width: 335px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background: transparent;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.btn.type01 {
    color: #fff;
    width: 335px;
    height: 50px;
    border: none;
    background: #ff0267;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.btn.type02 {
    width: 335px;
    height: 50px;
    border: none;
    background: #f2f2f2;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.btn.type03 {
    width: 335px;
    height: 50px;
    border: none;
    background: #fae0ea;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ff0267;
}
.btn.type04 {
    background: #999999;
    border: none;
}
.btn.type05 {
    background: #ef9aab;
    border: none;
}

.btn.naver_login {
    color: #fff;
    width: 301px;
    height: 50px;
    border: none;
    background: #03cf5d;
    border-radius: 15px;
    font-family: 'Pretendard';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px;
}

.hoz_part {
    margin: 15px 0px 10px;
    color: #eeeeee;
    border: 1px solid;
}
.blind {
    position: absolute;
    left: -9999px;
    top: 0;
    height: 0;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden;
}

.footer .btn_group {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.footer .btn_group.invite {
    bottom: 152px;
    left: 20px;
}
.footer .btn_group.ai_date_check {
}

select {
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
}

select::-ms-expand {
    display: none; /*for IE10,11*/
}

select {
    background: url('/static/images/select_arrow.png') no-repeat 97% 50%/15px auto;
}
select.small {
    background: url('/static/images/select_arrow.png') no-repeat 97% 50%/12px auto;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.layerPopup_content input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* terms*/
.sub_wrap .content_wrap .terms_cont {
    padding: 20px;
    height: 728px;
    background-color: #f5f5f5;
}

.sub_wrap .content_wrap .terms_cont .terms_cont_box {
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
}
.sub_wrap .content_wrap .terms_cont .terms_cont_box p {
    font-size: 14px;
    line-height: 20px;

    color: #777777;
}

/* notice*/
.notice_filter {
    height: 30px;
    background: #f5f5f5;
    padding: 10px 0 10px 23px;
    display: flex;
    justify-content: space-between;
}
.notice_filter.no_bg {
    background: transparent;
}
.notice_filter p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #777777;
    margin: 0;
    padding: 8px 0;
}
.notice_filter select {
    font-family: 'Pretendard-Regular';
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #777777;
    padding-right: 20px;
    background: url('/static/images/select_arrow_mini.png') no-repeat 97% 50%/15px auto;
    margin-right: 10px 20px;
}
.notice_wrap .attatch_file_div {
    padding: 20px;
}
.notice_wrap .attatch_file_div a {
    border: 1px solid #ff0267;
    border-radius: 5px;
    font-size: 12px;
    line-height: 14px;

    color: #ff0267;
    padding: 4px;
}
.notice_list .notice_list_label {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.notice_list .notice_list_label .faq_answer {
    display: flex;
}
.notice_list .notice_view_label {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.notice_list .notice_list_label h2 {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    margin: 0 0 10px 0;
}
.notice_list .notice_list_label h2 .question {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #ff0267;
    margin-right: 10px;
}
.notice_list .notice_list_label h2 .answer {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #777777;
    margin-right: 10px;
}
.notice_list .notice_list_label p {
    font-size: 13px;
    line-height: 16px;

    color: #999999;
    margin: 0;
}

.notice_list .notice_view_label h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    margin: 0 0 10px 0;
}
.notice_list .notice_view_label p {
    font-size: 13px;
    line-height: 16px;

    color: #999999;
    margin: 0;
}
.notice_cont {
    padding: 20px;
}
.notice_cont p {
    font-size: 14px;
    line-height: 20px;

    color: #000000;
}

/* menu*/
.sub_wrap .menu_wrap {
    padding: 20px;
}
.sub_wrap .menu_wrap .menu_title {
    margin: 35px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #ff0267;
}
.sub_wrap .menu_wrap .menu_cont p {
    width: 100%;
    margin: 20px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.commerce_banner {
    position: absolute;
    bottom: 0px;
    width: 375px;
    height: 80px;
    background-color: #d9d9d9;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #000000;
}

/* popup */
.mo_wrap .layerPopup .layerPopup_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    box-sizing: border-box;
    width: calc(100vw - 60px);
    max-width: 324px;
    min-width: 260px;
    /* max-height: 500px; */
    background: #fff;
    border-radius: 24px;
}
.mo_wrap .layerPopup.bottom {
    align-items: flex-end;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading {
    padding: 20px;
}
.mo_wrap .layerPopup .layerPopup_heading {
    position: relative;
    padding: 16px 0 16px;
    /* border-bottom: 1px solid #ECEEF0; */
    z-index: 2;
}
.mo_wrap .layerPopup.bottom .layerPopup_heading .btn_close {
    top: 20px;
    right: 24px;
}
.mo_wrap .layerPopup.bottom .layerPopup_content .title {
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    line-height: 26px;
}
.mo_wrap .layerPopup.bottom .layerPopup_content .title span {
    color: #ff0267;
}
.mo_wrap .layerPopup.bottom .layerPopup_bottom {
    padding: 10px 20px calc(constant(safe-area-inset-bottom) + 24px);
    padding: 10px 20px calc(env(safe-area-inset-bottom) + 24px);
    background: #fff;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.02);
    z-index: 1;
}
.mo_wrap .layerPopup .layerPopup_heading .btn_close {
    position: absolute;
    top: 22px;
    right: 20px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -999rem;
    background: url(/static/images/ico_close_20x20.png) no-repeat center / 20px;
    outline: none;
    z-index: 2;
}
.mo_wrap .layerPopup.bottom .layerPopup_content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    padding: 0px 20px 30px;
    line-height: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    background: #fff;
}
.mo_wrap .layerPopup.bottom .layerPopup_wrap {
    width: 100%;
    max-width: 375px;
    max-height: 98%;
    animation: layerPopBottomAnimation 0.2s;
    animation-timing-function: ease-out;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mo_wrap .layerPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500;
    animation: layerPopAnimation 0.5s;
}

.mo_wrap .layerPopup.alert .layerPopup_wrap {
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
    max-width: 335px;
    margin: 0 32px;
}

.mo_wrap .layerPopup.alert .layerPopup_heading {
    min-height: 20px;
    height: 20px;
    margin: 10px 10px 0;
    padding-bottom: 0;
    border-bottom: none;
}

.mo_wrap .layerPopup.alert .layerPopup_content {
    position: relative;
    min-height: 556px;
    padding: 30px 0 32px;
    font-size: 13px;
    color: #50555c;
    line-height: 19px;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
}

.mo_wrap .layerPopup.alert .layerPopup_content.medium {
    min-height: 385px;
}

.mo_wrap .layerPopup.alert .layerPopup_content .chk_box {
    position: absolute;
    left: 20px;
    margin: 0 20px 0 0;
}
.mo_wrap .layerPopup.alert .layerPopup_content .notice_box {
    padding: 16px 0;
    text-align: center;
}
.mo_wrap .layerPopup.alert .layerPopup_content .notice_text {
    margin: 30px 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file {
    display: flex;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file label {
    width: 295px;
    height: 200px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background: url(/static/images/input_img_plus.png) no-repeat center;
    margin: 20px;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.mo_wrap .layerPopup.alert .layerPopup_content .txt {
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    margin: 0 0 10px;
}

.mo_wrap .layerPopup.alert .layerPopup_content .desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #777777;
}
.mo_wrap .layerPopup.alert .layerPopup_content .layerPopup_bottom {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 295px;
}

.mo_wrap .layerPopup.alert .layerPopup_content .layerPopup_bottom .btn.type01 {
    width: 295px;
}

.layerPopup_content .chat_member {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 10px 25px;
}
.layerPopup_content .content_mypage {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 0 20px;
}

.layerPopup_content .content_mypage_info {
    padding: 8px;
    margin-left: 10px;
}
.layerPopup_content .content_mypage .profile_img {
    width: 60px;
}
.layerPopup_content .chat_member .profile_img {
    width: 40px;
}
.layerPopup_content .chat_member .chat_member_profile {
    display: flex;
}
.layerPopup_content .chat_member .chat_member_profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    margin: 10px 0 0 10px;
    color: #000000;
}
.layerPopup_content .chat_member .chat_member_report {
    display: flex;
}
.layerPopup_content .chat_member .chat_member_report .type01 {
    padding: 10px 20px;
    background: #ff0267;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    color: #ffffff;
    border: none;
}
.layerPopup_content .chat_member .chat_member_report .type02 {
    padding: 10px 20px;
    background: #555555;
    border-radius: 5px;
    width: 75px;
    height: 35px;
    color: #ffffff;
    border: none;
    margin-right: 8px;
}
.layerPopup_content .content_mypage .popup_view_profile {
    padding: 3px 8px;
    width: 50px;
    height: 22px;
    background: #ff0267;
    border-radius: 3px;
    border: none;
    font-family: 'Pretendard-Bold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #ffffff;
    margin-left: 30px;
}

.layerPopup_content .profile_img_box {
    margin-top: 50px;
}
.layerPopup_content .profile_img_box img {
    width: 93px;
    height: 93px;
    margin: 3px;
}

.layerPopup_content .content_mypage_info h2 {
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
    margin: 0;
}
.layerPopup_content .content_mypage_info p {
    font-size: 14px;
    line-height: 17px;

    color: #777777;
    margin: 0;
}

.layerPopup_content .review_title {
    margin-top: 20px;
}
.layerPopup_content .report_title {
    margin: 20px 0 0 20px;
}
.layerPopup_content .schedule_title {
    margin: 20px 0 0 20px;
}
.layerPopup_content .schedule_photo {
    display: flex;
    flex-direction: column;
}

.layerPopup_content .schedule_title h2 {
    font-family: 'Pretendard-Bold';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: left;
    margin: 0 0 10px 0;
}
.layerPopup_content .schedule_calendar {
    padding: 0 20px;
    margin-top: 20px;
}
.layerPopup_content .schedule_deposit {
    padding: 0 20px;
    margin-top: 20px;
}
.layerPopup_content .schedule_calendar input {
    width: 295px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
    padding: 15px 12px;
}
.layerPopup_content .schedule_deposit input {
    width: 295px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
    padding: 15px 25px;
    text-align: right;
}
.layerPopup_content .schedule_deposit p {
    position: absolute;
    right: 30px;
    top: 110px;
}
.layerPopup_content .schedule_fee {
    font-family: 'Pretendard-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #ff0267;
    margin: 20px;
}
.layerPopup_content .schedule_fee p {
    margin: 0;
}
.layerPopup_content .schedule_calendar .chk_box input[type='radio'] + label:before {
    background: url(/static/images/ico_radio_18x18_off.png) no-repeat center / 18px;
}

.layerPopup_content .schedule_calendar .chk_box input[type='radio']:checked + label::before,
.layerPopup_content .schedule_calendar .chk_box input[type='radio']:checked ~ label::before {
    background: url(/static/images/ico_radio_18x18_on.png) no-repeat center / 18px;
}

.layerPopup_content .schedule_calendar.multy_select {
    display: flex;
    justify-content: space-between;
}
.layerPopup_content .schedule_calendar.multy_select select {
    box-sizing: border-box;
    width: 144px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
    padding: 15px 12px;
    background: url(/static/images/select_arrow.png) no-repeat 97% 50%/12px auto;
}

.layerPopup_content .schedule_calendar .chk_box {
    position: relative !important;
}
.layerPopup_content .schedule_calendar .chk_box h2 {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    margin: 2px;
}

.layerPopup_content .schedule_calendar img {
    right: 30px;
    position: absolute;
    top: 116px;
}

.layerPopup_content .review_title h2 {
    font-family: 'Pretendard-Bold';
    font-size: 14px;
    line-height: 17px;
}
.layerPopup_content .report_title h2 {
    font-family: 'Pretendard-Bold';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: left;
}
.layerPopup_content .report_category select {
    font-family: 'Pretendard-Regular';
    padding: 15px 0 15px 12px;
    width: 295px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}

.layerPopup_content .report_category select {
    padding: 15px 0 15px 12px;
    width: 295px;
    height: 48px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}
.layerPopup_content .review_title h2 span {
    color: #ff0267;
}

.layerPopup_content .review_point .review_point_on {
    background: url(/static/images/review_on.png) no-repeat center / 30px;
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px 3px 0 3px;
}
.layerPopup_content .review_point .review_point_off {
    background: url(/static/images/review_off.png) no-repeat center / 30px;
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px 3px 0 3px;
}
.layerPopup_content .review_button {
    margin-top: 20px;
}
.layerPopup_content .review_button_on {
    width: 93px;
    height: 40px;
    background: #ff0267;
    border: 1px solid #ff0267;
    border-radius: 10px;
    color: #fff;
    border: none;

    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    margin: 8px 4px;
}
.layerPopup_content .review_button_off {
    width: 93px;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #d9d9d9;

    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    margin: 8px 4px;
}

.layerPopup_content .review_caution {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 65px;
}
.layerPopup_content .review_caution img {
    width: 14px;
    height: 14px;
}
.layerPopup_content .review_caution p {
    font-family: 'Pretendard-Regular';
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.015em;
    color: #777777;
    margin: 0 0 0 8px;
    text-align: left;
}
.layerPopup_content .review_text {
    margin-top: 20px;
}
.layerPopup_content .review_text textarea {
    width: 295px;
    height: 160px;
    padding: 15px;
    border: 1px solid #dddddd;
    resize: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
    overflow: -moz-scrollbars-none; /* Firefox */

    font-family: 'Pretendard-Regular';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    font-size: 13px;
    color: #999999;
}
.layerPopup_content .report_text {
    margin-top: 20px;
}
.layerPopup_content .report_text textarea {
    width: 295px;
    height: 160px;
    padding: 15px;
    border: 1px solid #dddddd;
    resize: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
    overflow: -moz-scrollbars-none; /* Firefox */

    font-family: 'Pretendard-Regular';
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    font-size: 13px;
    color: #999999;
}
.layerPopup_content .report_text textarea::placeholder {
    color: #999999;
}

.invite_wrap {
    left: 0;
    position: absolute;
}
.invite_code_popup input {
    width: 335px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 15px 12px;
    font-size: 15px;
    line-height: 18px;

    color: #999999;
}
.invite_code {
    width: 335px;
    height: 73px;
    background: #f1f1f1;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 22px;
    padding-top: 17px;
}
.invite_code h2 {
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}
.invite_code p {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
}
