@font-face {
  font-family: "Pretendard-Regular";
  src: url("/static/font/Pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("/static/font/Pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("/static/font/Pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Tium";
  src: url("/static/font/Tium/TMONTium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* 기본 글꼴*/
body {
  font-family: "Pretendard-Regular";
  font-style: normal;
  font-weight: 400;
}

.mo_wrap {
  height: 100%;
}

.mo_wrap .wrap {
  max-width: 375px;
  margin: 0 auto;
  min-height: 100%;
}
.mo_wrap .main_wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/static/images/main_bg_mo.png") no-repeat top center /
    contain;
  z-index: -2;
}

.mo_wrap .popup_wrap:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(0deg, #ffffff, #ffffff);

  z-index: -2;
}

/* HEADER */
header ul {
  height: 22px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
}
header .left_arrow {
  position: relative;
  left: 20px;
  top: calc(50% - 22px / 2);
}
header .header_title {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #111111;
  margin-left: 50px;
}

/* SUB */
.mo_wrap .sub_wrap {
  position: relative;
  height: 850px;
}

.mo_wrap .sub_wrap .content_wrap {
  padding: 20px;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap {
  position: relative;
  top: 200px;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap .success_text p {
  margin-top: 25px;
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #ff0267;
}
.mo_wrap .sub_wrap .content_wrap.center_wrap .success_text em {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #111111;
}

.member_grade {
  text-align: center;
  font-size: 20px !important;
  line-height: 28px !important;
}

.mo_wrap .sub_wrap .content_wrap .content_title h2 {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.01em;
  color: #111111;
}
.mo_wrap .sub_wrap .content_wrap .content_title span {
  color: #ff0267;
}
.mo_wrap .sub_wrap .content_wrap .content_title p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #555555;
}
.mo_wrap .sub_wrap .content_wrap .content_body {
  margin: 35px 0px;
  text-align: center;
}
.mo_wrap .sub_wrap .content_wrap .content_body.content_mypage {
  margin: 35px 0px;
  text-align: left;
  display: flex;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box {
  width: 335px;
  border: 2px solid #eeeeee;
  border-radius: 15px;
  margin-bottom: 10px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title {
  padding: 19px 12px 0px 12px;
  min-height: 41px;
  text-align: left;
}

.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  .grade_box_price {
  padding: 10 0px 10px 30px;
  height: 20px;
}
.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  .grade_box_price
  img {
  width: 65px;
  height: 18px;
  position: absolute;
  left: 60px;
}
.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  .grade_box_price
  .price_box {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: baseline;
}
.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  .grade_box_price
  .org_price {
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #aaaaaa;
  margin: 0;
  text-decoration: line-through;
}
.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  .grade_box_price
  .tot_price {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ff0267;
  margin: 0;
  margin-left: 15px;
}

.mo_wrap
  .sub_wrap
  .content_wrap
  .content_body
  .grade_box
  .grade_box_title
  span {
  float: right;
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_title h2 {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: hsl(0, 0%, 7%);
  margin: 0;
  margin-top: -1px;
}

.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont {
  border-top: 1px solid #eeeeee;
  padding: 10px 12px 20px 12px;
  min-height: 66px;
  text-align: left;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont p {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #555555;
  margin: 0 30px 10px 30px;
  text-align: left;
}
.mo_wrap .sub_wrap .content_wrap .content_body .grade_box .grade_box_cont span {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #999999;
  margin: 0 30px;
  text-align: left;
}
.main_logo {
  position: absolute;
  width: 148px;
  height: 46px;
  left: calc(50% - 148px / 2 + 0.5px);
  top: 241px;

  font-family: "Tium";
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ff0267;
}

.main_login_form {
  position: absolute;
  top: 365px;
  left: calc(50% - 302px / 2 + 0.5px);
}
.main_signin_form {
  /* position: absolute;
  top: 256px; */
}
.signin_label {
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #111111;
  margin-bottom: 10px;
}

.form_row.signin_form {
  padding: 20px 0px;
}
.form_row.signin_form .signin_form_div {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 auto;
}

.form_row.signin_form .signin_form_div .multy_select {
  display: flex;
}

.form_row.signin_form .signin_form_div .multy_select select {
  width: 163px;
  margin-right: 9px;
}
.form_row.signin_form .signin_form_div .multy_select_three select {
  width: 107px;
}

.form_row input {
  width: 335px;
  height: 50px;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #999999;
}
.form_row.signin_form .signin_form_div.input_btn input {
  width: 250px;
  height: 50px;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #999999;
}
.form_row.signin_form .signin_form_div.input_btn select {
  width: 250px;
  height: 50px;
}
.input_btn {
  display: flex;
  justify-content: space-between;
}
.btn_input_form {
  width: 80px;
  height: 50px;
  background: #555555;
  border-radius: 10px;
  color: #fff;
}

.form_row.signin_form input {
  border: 1px solid #dddddd;
}
.form_row.signin_form select {
  border: 1px solid #dddddd;
}
.profile_photo_div {
  display: flex;
}
.profile_photo_label {
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #111111;
  margin-bottom: 10px;
}
.profile_photo_desc {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #555555;
  margin: 0 0 10px;
}
.form_row.signin_form .profile_photo_input {
  width: 100px;
  height: 100px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background: url("/static/images/input_img_plus.png") no-repeat center;
}
.form_row.signin_form .profile_photo_posted {
  margin-left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
form input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* chk_box */
.mo_wrap .chk_box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 17px 0px;
}
.mo_wrap .chk_box.radio_box {
  margin: 0px 0px;
}

.mo_wrap .chk_box label {
  display: block;
  padding: 1px 0 1px 30px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.mo_wrap .chk_box label.totAgree_label {
  font-family: "Pretendard-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #111111;
}
.mo_wrap .chk_box label.agree_cont_label {
  font-family: "Pretendard-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;

  color: #111111;
}

.agree_cont {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.form_row select {
  width: 335px;
  height: 50px;
  border-radius: 15px;
  border: none;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #999999;
}
.agree_cont textarea {
  width: 335px;
  height: 110px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: #777777;
  padding: 15px;
}

.mo_wrap .chk_box input[type="radio"],
.mo_wrap .chk_box input[type="checkbox"] {
  border: none;
  border-radius: 50%;
}

.mo_wrap .chk_box label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 2;
  border-radius: 50%;
  box-sizing: border-box;
}

.mo_wrap .chk_box.radio_box label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  z-index: 2;
  border-radius: 50%;
  box-sizing: border-box;
}

.mo_wrap .chk_box input[type="checkbox"] + label:before {
  background: url(/static/images/ico_chk_gray_20x20.png) no-repeat center / 20px;
}

.mo_wrap .chk_box input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}

.mo_wrap .chk_box input:checked + label::before,
.mo_wrap .chk_box input:checked ~ label::before {
  height: 20px;
  background: url(/static/images/ico_chk_20x20.png) no-repeat center / 20px;
  border: 0 none;
}

.mo_wrap .chk_box input[type="radio"] + label:before {
  background: url(/static/images/ico_chk_gray_22x22.png) no-repeat center / 22px;
}

.mo_wrap .chk_box input[type="radio"]:checked + label::before,
.mo_wrap .chk_box input[type="radio"]:checked ~ label::before {
  background: url(/static/images/ico_chk_22x22.png) no-repeat center / 22px;
}

.btn_group {
  text-align: center;
  /* padding: 10px; */
}
.btn_group.multy {
  display: contents;
}
.btn_group.multy .btn {
  width: 163px;
  height: 50px;
}
.btn.type00 {
  color: #fff;
  width: 335px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  background: transparent;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.btn.type01 {
  color: #fff;
  width: 335px;
  height: 50px;
  border: none;
  background: #ff0267;
  border-radius: 15px;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.btn.type02 {
  width: 335px;
  height: 50px;
  border: none;
  background: #f2f2f2;
  border-radius: 15px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.btn.naver_login {
  color: #fff;
  width: 301px;
  height: 50px;
  border: none;
  background: #03cf5d;
  border-radius: 15px;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.hoz_part {
  margin: 15px 0px 10px;
  color: #eeeeee;
  border: 1px solid;
}
.blind {
  position: absolute;
  left: -9999px;
  top: 0;
  height: 0;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}

.footer .btn_group {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
}

select::-ms-expand {
  display: none; /*for IE10,11*/
}

select {
  background: url("/static/images/select_arrow.png") no-repeat 97% 50%/15px auto;
}

/* terms*/
.sub_wrap .content_wrap .terms_cont {
  padding: 20px;
  height: 728px;
  background-color: #F5F5F5;
}

.sub_wrap .content_wrap .terms_cont .terms_cont_box {
  padding: 20px;
  background-color: #FFFFFF;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
}
.sub_wrap .content_wrap .terms_cont .terms_cont_box p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #777777;
}

/* notice*/
.notice_filter {
  height: 30px;
  background: #f5f5f5;
  padding: 10px 0 10px 23px;
  display: flex;
  justify-content: space-between;
}
.notice_filter.no_bg {
  background: transparent;
}
.notice_filter p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #777777;
  margin: 0;
  padding: 8px 0;
}
.notice_filter select {
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #777777;
  padding-right: 20px;
  background: url("/static/images/select_arrow_mini.png") no-repeat 97% 50%/15px
    auto;
  margin-right: 10px 20px;
}
.notice_wrap .attatch_file_div {
  padding: 20px;
}
.notice_wrap .attatch_file_div a {
  border: 1px solid #ff0267;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.01em;
  color: #ff0267;
  padding: 4px;
}
.notice_list .notice_list_label {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.notice_list .notice_list_label .faq_answer {
  display: flex;
}
.notice_list .notice_view_label {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.notice_list .notice_list_label h2 {
  font-family: "Pretendard-SemiBold";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #111111;
  margin: 0 0 10px 0;
}
.notice_list .notice_list_label h2 .question {
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #FF0267;
  margin-right: 10px;
}
.notice_list .notice_list_label h2 .answer {
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #777777;
  margin-right: 10px;
}
.notice_list .notice_list_label p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #999999;
  margin: 0;
}

.notice_list .notice_view_label h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #111111;
  margin: 0 0 10px 0;
}
.notice_list .notice_view_label p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #999999;
  margin: 0;
}
.notice_cont {
  padding: 20px;
}
.notice_cont p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;
}

/* menu*/
.sub_wrap .menu_wrap {
  padding: 20px;
}
.sub_wrap .menu_wrap .menu_title {
  margin: 35px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #ff0267;
}
.sub_wrap .menu_wrap .menu_cont p {
  width: 100%;
  margin: 20px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #111111;
}
.commerce_banner {
  position: absolute;
  bottom: 0px;
  width: 375px;
  height: 80px;
  background-color: #d9d9d9;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
}

/* popup */

.mo_wrap .layerPopup.bottom {
  align-items: flex-end;
}

.mo_wrap .layerPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 500;
  animation: layerPopAnimation 0.5s;
}

.mo_wrap .layerPopup.alert .layerPopup_wrap {
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  max-width: 335px;
  margin: 0 32px;
}

.mo_wrap .layerPopup.alert .layerPopup_heading {
  min-height: 20px;
  height: 20px;
  margin: 10px 10px 0;
  padding-bottom: 0;
  border-bottom: none;
}

.mo_wrap .layerPopup.alert .layerPopup_content {
  position: relative;
  min-height: 556px;
  padding: 30px 0 32px;
  font-size: 13px;
  color: #50555c;
  line-height: 19px;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
}

.mo_wrap .layerPopup.alert .layerPopup_content .chk_box {
  position: absolute;
  left: 20px;
  margin-top: 0px;
}
.mo_wrap .layerPopup.alert .layerPopup_content .notice_box {
  padding: 16px 0;
  text-align: center;
}
.mo_wrap .layerPopup.alert .layerPopup_content .notice_text {
  margin: 30px 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.01em;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file {
  display: flex;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file label {
  width: 295px;
  height: 200px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background: url(/static/images/input_img_plus.png) no-repeat center;
  margin: 20px;
}
.mo_wrap .layerPopup.alert .layerPopup_content .regist_file input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.mo_wrap .layerPopup.alert .layerPopup_content .txt {
  font-family: "Pretendard-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #111111;
  margin: 0 0 10px;
}

.mo_wrap .layerPopup.alert .layerPopup_content .desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #777777;
}
.mo_wrap .layerPopup.alert .layerPopup_content .layerPopup_bottom {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 295px;
}

.mo_wrap .layerPopup.alert .layerPopup_content .layerPopup_bottom .btn.type01 {
  width: 295px;
}
