@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/static/font/Pretendard/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('/static/font/Pretendard/Pretendard-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/static/font/Pretendard/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tium';
    src: url('/static/font/Tium/TMONTium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    overflow-x: hidden;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #111111;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(3, 10, 23, 0.93), rgba(58, 74, 74, 0.93));
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

input[type='radio']+label:hover {
    cursor: pointer;
}

input[type='checkbox']+label:hover {
    cursor: pointer;
}

/*intro css*/
/*header*/
.cubberry-logo {
    background: url('/static/images/intro/cubberry_logo.png') 50% / cover no-repeat;
    width: 129px;
    height: 105px;
}

.menu {
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.9px 39px 9.1px 39px;
    width: 517px;
    height: fit-content;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -104px;
}

.item-link {
    margin: 3px 29.6px 3px 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.shape {
    border-radius: 5px;
    background: #FFFFFF;
    margin: 14px 0 6px 0;
    width: 4px;
    height: 4px;
}

.link-a a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}

.link-a a:hover {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
    cursor: pointer;
}

.link-a .on {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 900;
    cursor: pointer;
}

.item-link-service {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.65;
    text-transform: capitalize;
    color: #FFFFFF;
}

.item-link-company {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.65;
    text-transform: capitalize;
    color: #FFFFFF;
}

.item-link-careers {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.65;
    text-transform: capitalize;
    color: #FFFFFF;
}

.item-link-conference {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.65;
    text-transform: capitalize;
    color: #FFFFFF;
}

.menu_ul {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.header {
    position: fixed;
    justify-content: space-between;
    align-self: flex-start;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    z-index: 9999;
    margin: 0 5%;
    top: 26px;
}

.mobileHedaer {
    display: none;
}

#menuToggle {
    display: none;
}

.submenu {
    border-radius: 15px;
    background: rgba(27, 15, 15, 0.49);
    position: absolute;
    margin-left: -62px;
    top: 45px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 17px 0;
    width: 198px;
    box-sizing: border-box;
    display: none;
    z-index: 9999999;
}

.submenu-50 {
    margin: 0 19.5px 16px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #FFFFFF;
}

.ai-5 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #A09E9E;
}

/*content*/
.matchfy-logo-img {
    background: url('/static/images/intro/matchfy_main_img.png') 50% / cover no-repeat;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 226px;
    height: 70px;
}

.main-title {
    margin-bottom: 24px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 1.3;
    color: #FFFFFF;
}

.for-your-love-story {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 1.3;
    color: #FFFFFF;
}

.link {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 0 11px 2px;
    display: flex;
    padding: 0 0.4px 0.5px 0.6px;
    box-sizing: border-box;
}

.service_btn {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16.9px;
    line-height: 1.6;
    color: #FFFFFF;
}

.link-list {
    margin-right: 7.8px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
}

.item-link-web-service {
    margin-bottom: 7.6px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.web-service-text {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.733;
    color: #FFFFFF;
}

.icon-web-service-img {
    background: url('/static/images/intro/icon_logo.png') 50% / cover no-repeat;
    margin: 2.5px 5px 4.5px 0;
    width: 35px;
    height: 35px;
}

.item-link-web-android {
    margin: 0 4px 7.6px 4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.icon-android-img {
    margin: 9.3px 12px 9.5px 0;
    display: flex;
    width: 24px;
    height: 23.2px;
    box-sizing: border-box;
}

.icon-img {
    width: 24px;
    height: 23.2px;
}

.web-android-text {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.733;
    color: #FFFFFF;
}

.item-link-ios {
    margin: 0 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.icon-ios-img {
    margin: 10.3px 15px 10.6px 0;
    display: flex;
    width: 18px;
    height: 21.1px;
    box-sizing: border-box;
}

.icon-img2 {
    width: 18px;
    height: 21.1px;
}

.web-ios-text {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.733;
    color: #FFFFFF;
}

.matchfy-main-img {
    position: relative;
    margin: 0 35px 38px 0;
    display: flex;
    padding: 50px 7.8px 0 7.8px;
    width: fit-content;
    box-sizing: border-box;
}

.section-01 {
    border-radius: 33px;
    background: linear-gradient(rgba(138, 205, 148, 0.14), rgba(138, 205, 148, 0.14)), url('/static/images/intro/main_bg.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 68px 0 648.3px 0;
    width: 90%;
    height: 1060px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 168px;
    overflow: hidden;

}

.sec-con-bg {
    position: absolute;
    width: 898px;
    height: 667px;
    bottom: -86px;
}

.sec-con {
    text-align: center;
}

.title {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 96px;
    line-height: 1.333;
}

.sub_title {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 48px;
    line-height: 1.333;
    color: #FF0267;
}

.secion .title {
    /* margin: 0 0 152px 104.2px; */
    text-align: center;
    overflow-wrap: break-word;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 96px;
    line-height: 1.333;
}

.secion {
    /* width: 1346px; */
    width: 90%;
    margin: 0 auto;
    margin-top: 115px;
    text-align: left;
}

.section-02-img {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.section-02-img img {
    width: 100%;
}

.sec03-content {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 36px;
    line-height: 1.333;
    width: 90%;
    /* width: 1256px; */
    /* height: 420px; */
    margin: 0 auto;
    margin-top: 164px;
    width: 90%;
    padding: 0 5%;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.con-bold {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.con-light {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 36px;
    line-height: 1.333;
    color: #FFFFFF;
    padding-left: 40px;
}

/*sestion04*/

.section-04 {
    position: relative;
    width: 1204px;
    height: 663px;
    margin: 0 auto;
    display: flex;
    margin-top: 427px;
}

.sec04-con {
    /* margin: 176.8px 166.6px 238.2px 0; */
    margin: 176.8px 0px 238.2px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section-num-title-box {
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.section-num-box {
    position: relative;
    margin: 1.3px 8px 1.3px 0;
    display: flex;
    padding: 6.5px 9.1px 0 8.1px;
    box-sizing: border-box;
}

.section-num-circle {
    border-radius: 12px;
    background: #FF0267;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 24px;
    height: 24px;
}

.section-num-text {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.section-num-title {
    overflow-wrap: break-word;
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #FF0267;
}

.section-title-sub24 {
    font-family: 'Abhaya Libre';
    /* font-family: 'Alatsi', 'Roboto Condensed'; */
    font-weight: 400;
    font-size: 50px;
    line-height: 1.333;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.section-title {
    width: 500px;
    margin-bottom: 11px;
    overflow-wrap: break-word;
    /* font-family: 'Abhaya Libre'; */
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.5px;
    line-height: 1.24;
    text-transform: capitalize;
    color: #FFFFFF;
}

.section-subtitle {
    align-self: flex-start;
    overflow-wrap: break-word;
    /* font-family: 'Abhaya Libre'; */
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #B9B9B9;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.section-box-img {
    /* position: relative;
    display: flex; */
    /* padding: 159px 0 104px 0; */
    /* width: 640px; */
    /* height: 1000px; */
    /* box-sizing: border-box; */
    /* justify-content: center; */
    /* align-items: center;*/
    position: relative;
    right: 0px;
}

.section-box-img img {
    width: 100%;
}

.rectangle-81 {
    opacity: 0.2;
    border-radius: 200px;
    background: #FF00A8;
    position: relative;
    width: 460px;
    height: 400px;
    right: -150px;
    z-index: -999;
}

.group-77 {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: #FFFFFF;
    position: absolute;
    left: 40px;
    top: 0px;
    display: flex;
    padding: 10px;
    width: 294px;
    height: 613px;
    box-sizing: border-box;
}

.rectangle-419 {
    border-radius: 30px;
    background: url('/static/images/intro/rectangle_419.png'), linear-gradient(#D9D9D9, #D9D9D9);
    width: 274px;
    height: 593px;
    background-size: cover;
    background-position: center;
}

.group-78 {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: #FFFFFF;
    position: absolute;
    right: 121px;
    bottom: 0px;
    display: flex;
    padding: 10px;
    width: 294px;
    height: 613px;
    box-sizing: border-box;
}

.rectangle-4191 {
    border-radius: 30px;
    background: url('/static/images/intro/rectangle_4192.png'), linear-gradient(#D9D9D9, #D9D9D9);
    width: 274px;
    height: 593px;
    background-size: cover;
    background-position: center;
}

.group-1000001280 {
    position: absolute;
    top: 150px;
    right: 30px;
    display: flex;
    padding: 7px 12.3px 5px 11.9px;
    box-sizing: border-box;
}

.union {
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 148px;
    height: 32px;
}

.sec-union-text {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 1.538;
    color: #FFFFFF;
}

/*section 05*/
.section-05 {
    position: relative;
    width: 1204px;
    height: 664px;
    margin: 0 auto;
    display: flex;
    margin-top: 360px;
}

.sec05-con {
    position: relative;
    margin-right: 100px;
    padding-bottom: 40px;
    width: 653px;
    box-sizing: border-box;
}

.sec05-con img {
    width: 100%;
}

.sec05-img01 {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    padding: 10px;
    width: 294px;
    height: 613px;
    box-sizing: border-box;
}

.rectangle-4192 {
    border-radius: 30px;
    background: url('/static/images/intro/rectangle_4191.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    width: 274px;
    height: 593px;
}

.group-80 {
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: #FFFFFF;
    position: absolute;
    right: 40px;
    bottom: 0px;
    display: flex;
    padding: 10px;
    width: 294px;
    height: 613px;
    box-sizing: border-box;
}

.rectangle-4193 {
    border-radius: 30px;
    background: url('/static/images/intro/rectangle_4193.png') 50% / cover no-repeat, linear-gradient(#D9D9D9, #D9D9D9);
    width: 274px;
    height: 593px;
}

.group-1000001281 {
    border-radius: 30px;
    background: #FF0267;
    position: absolute;
    left: 33px;
    top: 89px;
    display: flex;
    padding: 18px 12.8px 17px 11px;
    box-sizing: border-box;
}

.container-9 {
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.group-1000001282 {
    border-radius: 25px;
    background: #222222;
    position: absolute;
    right: 0px;
    bottom: 179px;
    display: flex;
    padding: 14px 9.6px 13px 8px;
    box-sizing: border-box;
}

.container-10 {
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #FF0267;
}

.sec05-circle-box {
    border-radius: 22px;
    background: #FF0267;
    position: relative;
    margin: 160px 31px 409px 0;
    display: flex;
    padding: 14px 9.5px 12px 10px;
    box-sizing: border-box;
}

.sec05-circle-text {
    overflow-wrap: break-word;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-transform: capitalize;
    background: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#FF0267, #FF0267);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.sec05-circle {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.section-05 .txt {
    position: relative;
    margin: 208px 0 148px 0;
    /* display: flex; */
    /* padding-right: 19.8px; */
    box-sizing: border-box;
}

.container-10 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.section-num-title-box1 {
    /* margin-bottom: 21px; */
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.group-782 {
    position: relative;
    margin: 2.5px 8px 0 0;
    display: flex;
    padding: 6.5px 8.5px 0 7.5px;
    box-sizing: border-box;
}

.section-num-circle1 {
    border-radius: 12px;
    background: #FF0267;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    width: 24px;
    height: 24px;
}

.container-40 {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Pretendard', 'Roboto Condensed';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    line-height: 8px;
    color: #FFFFFF;
}

.container-41 {
    overflow-wrap: break-word;
    font-family: 'Pretendard', 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.2px;
    text-transform: capitalize;
    color: #FF0267;
}

.container-42 {
    overflow-wrap: break-word;
    font-family: 'Pretendard', 'Roboto Condensed';
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.5px;
    line-height: 1.24;
    text-transform: capitalize;
    color: #FFFFFF;
}

.container-43 {
    position: absolute;
    width: 375px;
    left: 50%;
    bottom: 14px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Pretendard', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #D9D9D9;
}

/*section 06*/
.section-06 {
    position: relative;
    width: 1204px;
    height: 664px;
    margin: 0 auto;
    display: flex;
    margin-top: 360px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.heading-2-your-first-ai-agent-1 {
    position: relative;
    overflow-wrap: break-word;
    /* font-family: 'Roboto'; */
    font-weight: 500;
    font-size: 50px;
    line-height: 1.3;
    color: #FFFFFF;
}

.list-1 {
    position: absolute;
    margin-bottom: 13.3px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    right: 0;
}

.item-link-1 {
    margin-bottom: 7.6px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}

.heading-3-web-service {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    color: #FFFFFF;
}

.logo-1 {
    background: url('/static/images/intro/icon_logo.png') 50% / cover no-repeat;
    margin: 2.5px 5px 4.5px 0;
    width: 35px;
    height: 35px;
}

.item-link-2 {
    margin: 0 4px 7.6px 4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.footer-icon-android-svg {
    margin: 9.3px 12px 9.5px 0;
    display: flex;
    width: 24px;
    height: 23.2px;
    box-sizing: border-box;
}

.clip-path-group {
    width: 24px;
    height: 23.2px;
}

.heading-3-android {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    color: #FFFFFF;
}

.item-link-3 {
    margin: 0 7px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

.footer-icon-ios-svg {
    margin: 10.3px 15px 10.6px 0;
    display: flex;
    width: 18px;
    height: 21.1px;
    box-sizing: border-box;
}

.container-26 {
    width: 18px;
    height: 21.1px;
}

.heading-3-ios {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 1.3;
    color: #FFFFFF;
}

.matchfy-bi-white-bg-102 {
    background: url('/static/images/intro/matchfy_bi_white_bg_103.png') 50% / cover no-repeat;
    position: absolute;
    /* left: 105px; */
    width: 354px;
    height: 92px;
}

.link-2 {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 44.9px 28px 44.9px;
    display: flex;
    padding: 0 0.4px 0.5px 0.6px;
    box-sizing: border-box;
}

.container-34 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16.9px;
    line-height: 1.6;
    color: #FFFFFF;
}

/* .section-04-title {
    position: relative;
    margin: 0.5px 76.6px 0 0;
    display: flex;
    padding-bottom: 89px;
    box-sizing: border-box;
  }
   .section-05 {
    margin: 0 55.1px 232px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    box-sizing: border-box;
  } */

/*footer*/


.container {
    margin: 14.8px 0 33.3px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-1 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer {
    background: url('/static/images/intro/footer_bg.png') 50% / cover no-repeat;
    position: relative;
    display: flex;
    padding: 53.5px 40px 78.1px 32px;
    box-sizing: border-box;
}

.section {
    backdrop-filter: blur(10px);
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    width: 100%;
    padding: 32px 46.6px 59.9px 43.9px;
    box-sizing: border-box;
    margin: 0 auto;
}

.border {
    border-top: 1px solid #AAAAAA;
    margin: 30px 1.4px 0 4.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0px 30px 0;
    width: 100%;
    box-sizing: border-box;
}

.list {
    margin-bottom: 42.2px;
    display: flex;
    box-sizing: border-box;
}

.item {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14.8px;
    line-height: 1.79;
    color: #FFFFFF;
}

.input {
    border-radius: 8px;
    border: 1px solid #B9B9B9;
    background: rgba(0, 0, 0, 0.25);
    /* margin: 0 6px; */
    display: flex;
    align-self: flex-start;
    padding: 0 10px 0 9.9px;
    box-sizing: border-box;
}

.container-14 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 3;
    color: #FFFFFF;
}

.item-1 {
    margin-bottom: 24.4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    color: #FFFFFF;
}

.cube-berry-all-rights-reserved {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    color: #FFFFFF;
}

.scroll-top {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 137.6px;
    display: flex;
    padding: 0px 12.6px 0px 12.9px;
    box-sizing: border-box;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.scroll-top-text {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.heading-2-your-first-ai-agent {
    /* margin: 0 4.1px 60.4px 4.1px; */
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 50px;
    line-height: 1.3;
    color: #FFFFFF;
}

.group-1000001310 {
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    box-sizing: border-box;
}

.footer-logogr-img {
    display: block;
}

.footer-logogr-img img {
    width: 100%;

}

.image-22 {
    background: url('/static/images/intro/image_22.png') 50% / cover no-repeat;
    margin: 16.3px 0 9.3px 0;
    width: 166.6px;
    height: 28.7px;
}

.image-20 {
    background: url('/static/images/intro/image_20.png') 50% / cover no-repeat;
    margin-right: 73.1px;
    width: 161.1px;
    height: 81.5px;
}

.container-16 {
    background: url('/static/images/intro/image_2.png') 50% / cover no-repeat;
    margin-top: 1.9px;
    width: 97.4px;
    height: 83.4px;
}

.ym_logo {
    background: url('/static/images/intro/image_3.png') 50% / cover no-repeat;
    margin: 20.6px 0;
    width: 208px;
    height: 40.3px;
}

.container-18 {
    background: url('/static/images/intro/image.png') 50% / cover no-repeat;
    margin-top: 1.9px;
    width: 252.9px;
    height: 52.5px;
}

.image-21 {
    background: url('/static/images/intro/image_21.png') 50% / cover no-repeat;
    margin: 9.4px 0;
    width: 191.1px;
    height: 62.8px;
}

.d-1 {
    background: url('/static/images/intro/d_1.png') 50% / cover no-repeat;
    margin-top: 19.2px;
    width: 125.5px;
    height: 36.5px;
}

.container-19 {
    background: url('/static/images/intro/image_1.png') 50% / cover no-repeat;
    margin: 0.9px 0 10.3px 0;
    width: 193px;
    height: 43.1px;
}

.b-116-ba-66-ca-63-b-1 {
    background: url('/static/images/intro/b_116_ba_66_ca_63_b_1.png') 50% / cover no-repeat;
    margin-bottom: 0px;
    width: 219.2px;
    height: 54.3px;
}

.image-15 {
    background: url('/static/images/intro/image_15.png') 50% / cover no-repeat;
    margin: 12.2px 0 13.1px 0;
    width: 91.8px;
    height: 29px;
}

.kbs-1 {
    background: url('/static/images/intro/kbs_1.png') 50% / cover no-repeat;
    position: absolute;
    left: -31px;
    top: 82.5px;
    width: 278.9px;
    height: 196.7px;
}

.image-14 {
    background: url('/static/images/intro/image_14.png') 50% / cover no-repeat;
    margin: 7.5px 0 14.1px 0;
    width: 167.7px;
    height: 32.8px;
}

.group-10000013101 {
    margin-bottom: 18.6px;
    display: flex;
    width: 200.6px;
    height: 37.1px;
    box-sizing: border-box;
}

.image-18 {
    background: url('/static/images/intro/image_18.png') 50% / cover no-repeat;
    width: 200.6px;
    height: 37.1px;
}

.container-3 {
    margin: 3.3px 0 26.2px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 405.7px;
    height: fit-content;
    box-sizing: border-box;
}

.container-7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 1437.1px;
    box-sizing: border-box;
}

.container-8 {
    margin-bottom: 52.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 1545.2px;
    box-sizing: border-box;
}

.footer-container {
    margin-bottom: 0.4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.container-13 {
    margin-bottom: 3.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 716.7px;
    height: fit-content;
    box-sizing: border-box;
}

/*company-main*/

.company-main-text {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 2.18;
    color: #ffffff;
    margin: 0 auto;
    line-height: 1.6;
    z-index: 9999;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    
}

.company-main {
    position: relative;
    margin: 0 0 155px 18px;
    display: flex;
    padding: 361px 0 399px 40px;
    width: 90%;
    height: 1040px;
    line-height: 1040px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden; /* 배경 이미지가 넘치지 않도록 설정 */
}

.company-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/intro/company_bg.png') 50% / cover no-repeat;
}

.company-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.contents{
    margin-top: 165px;
}
.contents-title {
    position: relative;
    /* top: 1364px;
    right: 867.1px; */
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.4px;
    line-height: 2.18;
    color: #24949B;
}

.contents-box {
    /* width: 1767px; */
    width: 100%;
    margin: 0 auto;
    margin-top: 115px;
    text-align: center;
}

.contents-ul {
    position: relative;
    /* width: 1200px; */
    width: 70%;
    margin: 0 auto;
    margin-top: 77px;
}

.contents-li {
    border-radius: 30px;
    background: rgba(168, 229, 237, 0.37);
    position: relative;
    margin: 0 auto;
    margin-bottom: 14.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 45.2px 0.2px 92px;
    /* width: 1200px; */
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.1s;
}

.contents-li.expanded {
    height: 500px;
    transition: height 0.3s;
}

.contents-text {
    margin: 39px 35px 31px 0;
    display: inline-block;
    /* width: 985.2px; */
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    text-align: left;
    letter-spacing: -0.4px;
    line-height: 2.18;
    color: #FFFFFF;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.contents-text p {
    margin-top: 50px;
    display: none;
    width: 100%;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 1.91;
    color: #FFFFFF;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.plus-btn {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.7px;
    line-height: 2.18;
    color: #000000;
}

.plus-btn a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: transform 0.2s ease;
}

.plus-btn a.rotated {
    transform: rotate(45deg);
}

.plus-contents .plus-contents-box .text {
    margin: 36px 39.3px 34px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.4px;
    line-height: 2.18;
    color: #24949B;
}

.plus-contents .plus-contents-box .plus {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 64px;
    letter-spacing: -0.7px;
    line-height: 2.18;
    color: #24949B;
}

.plus_organ_btn a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: transform 0.2s ease;
}

.plus_organ_btn a.rotated {
    transform: rotate(45deg);
}

.organ_img {
    position: relative;
    width: 900px;
    text-align: left;
    margin: 0 auto;
    padding-right: 109px;
    display: none;
}

.organ_img img {
    width: 100%;
}

.plus_media_btn a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: transform 0.2s ease;
}

.plus_media_btn a.rotated {
    transform: rotate(45deg);
}

.media_img {
    position: relative;
    width: 700px;
    text-align: left;
    margin: 0 auto;
    padding-right: 109px;
    display: none;
}

.media_img img {
    width: 100%;
}

.plus-contents {
    position: relative;
    margin-left: 143.9px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* width: 500px; */
    margin: 0 auto;
    margin-top: 270px;
    margin-bottom: 270px;
}

.plus-contents .plus-contents-box {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0 auto;
}

/*media*/
.contents-media-ul {
    position: relative;
    /* width: 1200px; */
    width: 800px;
    /* width: 50%; */
    margin: 0 auto;
    margin-top: 77px;
    /* background-color: #182217; */
    padding: 0;
    padding-bottom: 20px;
}

.contents-media-li a {
    background: #131b12;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.1s;
    padding: 15px;
    border-radius: 16px;
    text-decoration: none;
}

.contents-media-li a:hover {
    background: #7A907F;
    transition: .4s;
}

.contents-media-li .media-type {
    font-size: 21px;
    width: 150px;
    height: 18px;
    padding: 6px 0px 10px 13px;
    margin: 10px 10px;
    border-radius: 10px;
    background: #323015;
    color: #ffffff;
    text-align: left;
}

.contents-media-li .media-type2 {
    font-size: 21px;
    width: 150px;
    height: 18px;
    padding: 6px 0px 10px 13px;
    margin: 10px 10px;
    border-radius: 10px;
    background: #79463d;
    color: #ffffff;
    text-align: left;
}
.media-type2 {
    font-size: 21px;
    width: 87px;
    height: 18px;
    padding: 6px 0px 10px 13px;
    border-radius: 10px;
    background: #79463d;
    color: #ffffff;
    text-align: left;
}
.contents-media-li .media-box {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    width: 95%;
    padding-left: 5%;
}

.contents-media-li .media-box .media-title {
    font-size: 36px;
    color: #fff;
    padding: 0px 0px 10px 0px;
    margin: 10px 10px 0px 0px;
}

.contents-media-li .media-box .media-date {
    font-size: 21px;
    padding: 10px 0px 15px 0px;
    color: #fff;
    opacity: 0.6;
}

.page-box {
    width: 150px;
    margin: 0 auto;
    margin-top: 100px;
}

.page-box ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    padding: 0;
}

.page-box ul li {
    width: 25%;
    color: #ffffff;
    opacity: 0.6;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

.page-box ul .on {
    width: 20%;
    color: #ffffff;
    opacity: 1;
    padding: 6% 10%;
    background-color: #222222;
    border-radius: 10px;
    cursor: pointer;
}

/*animated*/
.animated-box {
    display: flex;
    flex-direction: column;
    margin-top: 153px;
    margin-bottom: 143px;
}

.animated-box .animated-title {
    /* margin-left: 165.7px; */
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.2px;
    line-height: 1.3;
    color: #FFFFFF;
}

.animated-box p {
    /* margin: 0 0 143px 144.3px; */
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.7px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #FFFFFF;
}

.animated-img-box {
    /* background: url('/static/images/intro/animated_img.png') 50% / cover no-repeat; */
    /* margin: 0 616.7px 10px 0; */
    /* width: 743px; */
    width: 100%;
    height: 756px;
    overflow: hidden;
}

.animated-img-box img {
    /* object-fit: cover; */
    background-repeat: no-repeat;
    /* width: 743px; */
    /* height: 756px; */
    width: 100%;
    height: auto;
}

.animated-img {
    /* width: 1500px; */
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.animated-img .animated-img-box:nth-child(1) {
    margin-right: 14px;
}

.animated-box-02 {
    margin-top: 208px;
}

.animated-box-02 .animated-title {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 50px;
    line-height: 1.333;
    margin-top: 200px;
}

.animated-box-02 .animated-title .text {
    /* margin: 0 0 84px 126.3px; */
    margin: 0 auto;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.animated-box-02 .animated-contents {
    /* margin: 0 0 284px 90.4px; */
    /* width: 1263px; */
    width: 82%;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.07em;
    text-transform: capitalize;
}

.animated-contents ul li {
    list-style: disc;
    text-align: left;
    letter-spacing: -0.07em;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.animated-p {
    width: 451px;
    height: 39px;
    margin: 0 auto;
    margin-top: 432px;
    margin-bottom: 432px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}
/*media*/
.media-view{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.media-view .media-title h3:nth-child(2){
    width: 100%;
    height: auto;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -0.05rem;
    padding: 0;
    margin: 0;
}
.media-view .media-title{
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}
.media-view .media-title .date{
    color:#999999;
}
.media-view .media-content{
    width: 100%;
}
.media-view .media-content p img{
    width: 100%;
}
@media (max-width: 968px) {
    .section-box-img img {
        width: 90%;
        padding: 0 5%;
    }

    .cubberry-logo {
        display: none;
    }
    .contents{
        margin-top: 80px;
    }
    .section-01 {
        height: 560px;
        margin-top: 60px;
    }

    .sec-con-bg {
        width: 90%;
        height: auto;
    }

    .sec-con-bg img {
        width: 100%;
    }

    .sub_title {
        font-family: 'Inter';
        font-weight: 200;
        font-size: 20px;
        line-height: 1.333;
        color: #FF0267;
    }

    .secion .title {
        text-align: center;
        overflow-wrap: break-word;
        color: #FFFFFF;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 30px;
        line-height: 1.333;
    }

    .sec03-content {
        font-family: 'Inter';
        font-weight: 200;
        font-size: 36px;
        line-height: 1.333;
        width: 90%;
        /* width: 1256px; */
        /* height: 420px; */
        margin: 0 auto;
        margin-top: 64px;
        width: 90%;
        padding: 0 5%;
        letter-spacing: -0.07em;
        text-transform: capitalize;
    }

    .con-bold {
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
    }

    .con-light {
        font-family: 'Inter';
        font-weight: 200;
        font-size: 20px;
        line-height: 1.333;
        color: #FFFFFF;
        padding-left: 0;
    }

    .section-04 {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        width: 100%;
        /* height: 1000px; */
        height: auto;
    }

    .section-num-title-box {
        font-family: 'Pretendard-Bold';
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: #ff0267;
        margin: 0 auto;
        text-align: center;
    }

    .section-subtitle {
        margin: 0 auto;
    }

    .section-title {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }

    .sec04-con {
        text-align: center;
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .section-box-img {
        align-items: baseline;
        padding: 0 20px;
    }

    .section-05 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        position: relative;
        left: 0px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 100px;
        margin-top: 180px;
    }

    .sec05-con {
        text-align: center;
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .sec05-con img {
        width: 90%;
        padding: 0 5%;
    }

    .section-05 .txt {
        text-align: center;
        position: relative;
        left: 0px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .section-num-title-box1 {
        font-family: 'Pretendard-Bold';
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        color: #ff0267;
    }

    .container-42 {
        font-size: 30px;
        line-height: 40px;
    }

    .container-43 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.07em;
        text-transform: capitalize;
        color: #555555;
    }

    .section-06 {
        position: relative;
        width: 100%;
        height: 664px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .container-2 {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .list-1 {
        position: relative;
        width: 270px;
        text-align: left;
        margin: 0 auto;
    }

    .section-04-title {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 150px;
    }

    .matchfy-bi-white-bg-102 {
        position: relative;
        margin: 0 auto;
    }

    .link-2 {
        width: 126px;
        border-bottom: 1px solid #FFFFFF;
        margin: 0 auto;
        display: block;
        padding: 0;
        /* box-sizing: border-box; */
    }

    .heading-2-your-first-ai-agent {
        font-size: 30px;
    }

    .heading-2-your-first-ai-agent-1 {
        font-size: 30px;
    }

    .item-link-1 {
        text-align: left;
        margin-top: 40px;
    }

    .item-link-2 {
        text-align: left;
    }

    .item-link-3 {
        text-align: left;
    }

    .animated-box-02 .animated-title .text {
        font-size: 30px;
    }

    /*company*/
    .contents-box {}

    .container{
        flex-direction: row;
    }
    .container div:nth-child(2){
        position: absolute;
        right: 0;
    }
    .contents-ul {
        position: relative;
        left: 0px;
        width: 88%;
        margin: 0;
        margin-top: 77px;
    }

    .contents-li {
        width: 100%;
        height: 80px;
        padding: 1px 26.2px 0.2px 26.2px;
    }

    .contents-li.expanded {
        height: auto;
    }

    .contents-text {
        font-size: 20px;
        line-height: 0px;
    }

    .contents-text p {
        font-size: 15px;
        letter-spacing: -0.2px;
        line-height: 1.91;
    }

    .plus-btn {
        font-size: 35px;
        line-height: 72px;
    }

    .plus-contents .plus-contents-box {
        margin: 0 auto;
    }

    .plus-contents .plus-contents-box .text {
        font-size: 20px;
    }

    .plus-contents .plus-contents-box .plus {
        font-size: 35px;
        line-height: 3.05;
    }

    .company-main {
        padding: 0;
        height: 500px;
        line-height: 500px;
    }

    .company-main-text {
        width: 100%;
        font-size: 12px;
        padding: 200px 20px 0 20px;
    }

    .organ_img {
        position: relative;
        width: 90%;
        text-align: left;
        margin: 0 auto;
        padding-right: 109px;
        display: none;
    }

    .animated-box .animated-title {
        font-size: 18px;
    }

    .animated-box p {
        font-size: 30px;
    }

    .animated-img-box {
        height: auto;
    }

    .animated-box-02 .animated-title {
        font-size: 30px;
    }

    .animated-box-02 .animated-contents {
        font-size: 20px;
    }

    .animated-p {
        font-size: 20px;
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .media_img {
        position: relative;
        width: 90%;
        text-align: left;
        margin: 0 auto;
        padding: 0 5%;
        display: none;
    }

    /*media*/

    .contents-media-ul {
        width: 90%;
    }

    .contents-media-li .media-box .media-title {
        font-size: 20px;
    }

    .contents-media-li .media-box .media-date {
        font-size: 12px;
    }

    .group-1000001310 {
        display: none;
    }

    .border {
        flex-direction: column;
        margin: 30px 0px 0 0px;
    }

    .footer-logogr-img {
        display: block;
    }

    .scroll-top-text {
        font-size: 30px;
    }

    .cube-berry-all-rights-reserved {
        font-size: 9px;
    }

    .item {
        font-size: 12px;
    }

    .item-1 {
        font-size: 12px;
    }

    .container-14 {
        font-size: 14px;
    }

    .scroll-top {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        margin-top: 0;
        display: flex;
        padding: 0px 12.6px 0px 12.9px;
        width: 46px;
        height: 45px;
        line-height: 50px;
        box-sizing: border-box;
    }

    .header {
        display: none;
    }

    #mo_header {
        display: block;
    }

    /*햄버그 메뉴*/
    .mobileHedaer {
        width: 100%;
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 30px;
        left: 27px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: #24949B;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 50%;
        height: 100vh;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }
    .media-view{
        width: 90%;
    }
    .media-view .media-title h3:nth-child(2){
        font-size: 1.1rem;
    }
    .media-type2{
        font-size: 15px;
        width: 65px;
        height: 13px;
    }
    .media-view .media-title .date{
        font-size: 15px;
    }
    .media-content p {
        font-size: 17px;
        line-height: 1.6;
    }
}